data/raw/
data/processed/
outputs/
.Renviron
.env
config/config.yml
config/weights.yml
!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/.gitkeep
!R/outputs/
!R/outputs/.gitkeep
!R/outputs/*.R
.Rproj.user
